<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../../common/css/style.css">
    <title></title>
  </head>
  <body>
    {% include "header.twig" %}
    <h3>ログインページ</h3>
    <form method="post" action="../../../controller/user/auth/authentication.php">
      <table>
        <tr>
          <th>ログインID<span class="red">*</span></th>
          <td><input type="text" name="account" value="{{dataArr.account}}">
            {% if errArr.account | length > 0 %}<br><span class="red">{{errArr.account}}</span>{% endif %}
          </td>
        </tr>
        <tr>
          <th>パスワード<span class="red">*</span></th>
          <td><input type="text" name="password" value="{{dataArr.password}}">
            {% if errArr.password | length > 0 %}<br><span class="red">{{errArr.password}}</span>{% endif %}
            {% if errArr.dbAccountPassword | length > 0 %}<br><span class="red">{{errArr.dbAccountPassword}}</span>{% endif %}
          </td>
        </tr>
      </table>
      <input type="submit" name="login" value="ログイン">
      </br><a href="http://localhost/ibarakikensan/controller/user/auth/regist.php">会員登録をする</a>
      </br><a href="http://localhost/ibarakikensan/controller/item/list.php">トップページへ戻る</a>
    </form>
    {% include "footer.twig" %}
  </body>
</html>
  